[submodule "reference-manual/databases/elasticsearch/elasticsearch-reference-translation"]
	path = reference-manual/databases/elasticsearch/elasticsearch-reference-translation
	url = https://github.com/rpgmakervx/elasticsearch-reference-translation.git
[submodule "reference-manual/databases/postgresql/pgdoc-cn"]
	path = reference-manual/databases/postgresql/pgdoc-cn
	url = https://github.com/postgres-cn/pgdoc-cn.git
[submodule "charts/databases/mysql/innodb_diagrams"]
	path = charts/databases/mysql/innodb_diagrams
	url = https://github.com/jeremycole/innodb_diagrams.git
[submodule "reference-manual/databases/elasticsearch/elasticsearch-doc-cn"]
	path = reference-manual/databases/elasticsearch/elasticsearch-doc-cn
	url = https://github.com/dev2007/elasticsearch-doc.git
[submodule "book-code/programming-language/cpp-primer-plus-6th"]
	path = book-code/programming-language/cpp-primer-plus-6th
	url = https://github.com/ShujiaHuang/Cpp-Primer-Plus-6th.git
[submodule "books/programming-language/bash/bash-tutorial"]
	path = books/programming-language/bash/bash-tutorial
	url = https://github.com/wangdoc/bash-tutorial
[submodule "books/databases/ddia-cn-notes"]
	path = books/databases/ddia-cn-notes
	url = https://github.com/DistSysCorp/ddia.git
[submodule "books/databases/ddia-cn"]
	path = books/databases/ddia-cn
	url = https://github.com/Vonng/ddia.git
[submodule "book-code/databases/clickhouse/clickhouse-principle-analysis-and-practice"]
	path = book-code/databases/clickhouse/clickhouse-principle-analysis-and-practice
	url = https://github.com/nauu/clickhousebook.git
[submodule "books/compiler-principles/lex-and-yacc_ZH_CN"]
	path = books/compiler-principles/lex-and-yacc_ZH_CN
	url = https://github.com/computer-books/lex-and-yacc_ZH_CN.git
